# Finding the Best Algorithm to Predict Heart Attacks

By Enoch Ngan

## Project Goal:

The Heart Attack Analysis & Prediction Dataset by RASHIK RAHMAN on Kaggle provides a vital dataset on medical information for patients with low and high chances of heart attack. By analyzing the learning algorithms, Decision Trees (DT), Logistic Regression (LR), and k-Nearest Neighbors (KNN), we can develop a predictive model that determines the best algorithm for this dataset. This project will ultima
Our dataset comprises crucial medical information about patients, enabling us to assess the likelihood of a heart attack occurrence. By leveraging various machine learning algorithms such as Logistic Regression (LR), Support Vector Machines (SVM), k-Nearest Neighbors (KNN), and Decision Trees (DT), our goal is to develop a robust predictive model. Through this exploration, we aim to determine which algorithm best suits our dataset, ultimately contributing to the ongoing efforts in cardiovascular health prediction.

## Key

__Age__ : Age of the patient

__Sex__ : Sex of the patient

__exang__: exercise induced angina (1 = yes; 0 = no)

__ca__: number of major vessels (0-3)

__cp__: Chest Pain type chest pain type

__Value 1__: typical angina
__Value 2__: atypical angina
__Value 3__: non-anginal pain
__Value 4__: asymptomatic
__trtbps__: resting blood pressure (in mm Hg)

__chol__: cholestoral in mg/dl fetched via BMI sensor

__fbs__: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)

__rest_ecg__: resting electrocardiographic results

__Value 0__: normal
__Value 1__: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
__Value 2__: showing probable or definite left ventricular hypertrophy by Estes' criteria
__thalach__: maximum heart rate achieved

__target__: 0= less chance of heart attack 1= more chance of heart attack

## Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

## Data Validation

In [7]:
df = pd.read_csv("heart.csv") # loads up the data
df.head() # displays the first 5 rows of df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
df.info() # shows the info of df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [10]:
# Data Cleansing
df.isnull().sum() # checks for any missing values

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64